extends layout

block content

  .row
    .col-lg-12.col-sm-12
      .intro
        h2
          | My name is 
          u #{name}
        p
          | I am a transistion year student in St. Andrews College, in Booterstown. I am currently doing my work placement at Oath.
          br
          |  You can find their website at: 
          a(href='https://www.oath.com') www.oath.com

  // end row

  // end container