doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    title Work Placement
  body
    .containter
      .row
        .col-lg-12.col-sm-12
          .title
            if loggedInUser
              h1 
                | Oath Project - Welcome #{loggedInUser.userName}
            else
              h1 Oath Project  
      // end row
      .row
        .col-lg-12.col-sm-12
          ul.topnav
            li
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='/database') Database

            if loggedInUser
              li#account
                a(href='/accountDetails') Account
              li#account
                a(href='/signOut') Sign Out
            else
              li#account
                a(href='/logIn') Log In
              li#account
                a(href='/signUp') Register


      block content
